.title{
    justify-content: center;
    height: 100px; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
}

.button{
    height: 5px;
    width: 200px;
}

.receipt{
    min-height: 93vh;
}

.main{
    background-image: url("../../background.jpg");
}